@model List<Author>
@{
    ViewData["Title"] = "AuthorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">BookTypeList</h3>
<a asp-controller="Author" asp-action="Create" class="btn btn-primary" style="float:right">Yeni Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Aksiyon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>

                <td>
                    <a href="/Author/Update/@author.Id" class="big-icon" ><i class="bi bi-pencil-square"></i></a>
                    <a href="/Author/Delete/@author.Id" class="big-icon margin-icon" ><i class="bi bi-x-circle-fill"></i></a>
                </td>
            </tr>

        }

    </tbody>



</table>

